body {
    background: url("all the way up.jpg") no-repeat center center fixed;
    background-size: cover;
    /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    -webkit-background-size: cover;
    /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover;
    /* optional for Firefox 3.6 */
    -o-background-size: cover;
    /* for Opera 9.5 */
    margin: 0;
    /* to remove the default white margin of body */
    padding: 0;
    /* to remove the default white margin of body */
    overflow: hidden;
    color: #ff4500;
font-family: "new century schoolbook";
}

h1 {
    margin: 0.5em 0 0 0;
    font-size: 4em;
    font-family: 'Tangerine', serif;
    color: #ff4500;
    font-weight: 900;
    text-align: center;
}

h4{
    text-align: center;
    color: #ff4500;

}
ul#menu li {
    display: inline;
    font: 200pt;
    <body link="#ff4500">;
}
a{
        color: #ff4500;

}
