body {
    background: url("aye.jpg") no-repeat center center fixed;
    background-size: cover;
    /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    -webkit-background-size: cover;
    /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover;
    /* optional for Firefox 3.6 */
    -o-background-size: cover;
    /* for Opera 9.5 */
    margin: 0;
    /* to remove the default white margin of body */
    padding: 0;
    /* to remove the default white margin of body */
    overflow: hidden;
    font-size: 50px;
    font: "Helvetica Light", Arial, sans-serif

    color: white;

}
h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
  color: white;
  animation: pulse 15s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 22px;
}
ul#menu li {
    display: inline;
}
